body {
    background-color: rgb(245, 140, 102);
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 4em;
}

#todoList {
    width: 30%;
    /* min-height: 20px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
}

#todoList span {
    width: 100%;
    display: flex;
    align-items: center;
    margin: 5px 0;
}

#todoList li {
    list-style: none;
    border: 2px solid white;
    border-radius: 10px;
    font-size: 20px;
    background-color: rgb(255, 188, 163);
    width: 100%;
    padding: 10px;
    margin-right: 10px;
}

.option {
    display: block;
    position: relative;
    float: right;
    border: none;
    height: 100%;
}

.checkbox {
    width: 15px;
    height: 15px;
}

.todoListItem {
    display: none;
}